include templates/_page-head.pug
    link(rel="stylesheet", href="/style/view-cows.css")
    title view-cows 
body
    include templates/components/_header.pug
    .container
        .main-view-cows
            h1 View Cows
            p This is the 
                span view cows page
        .view-cows__table
            h3 Select a Filter :
            .filter
                a(href="/view-cows/age") Age
                a(href="/view-cows/breed/Holstein") Breed Holstein
                a(href="/view-cows/breed/Jersey") Breed Jersey
                a(href="/view-cows/breed/Guernsey") Breed Guernsey
                a(href="/view-cows/color/black") Color Black
                a(href="/view-cows/color/white") Color White
                a(href="/view-cows/color/brown") Color Brown
                a(href="/view-cows/color/spotted") Color Spotted
            .table
                //- if no cows found
                if cows.length === 0
                    include templates/components/_no-cows.pug
                for cow in cows || []
                    .table-cow
                        .table-cow__id
                            p Id: 
                                span #{cow.id}
                        .table-cow__name
                            p Name: 
                                span #{cow.name}
                        .table-cow__age
                            p Age: 
                                span #{cow.birthday}
                        .table-cow__breed
                            p Breed: 
                                span #{cow.breed}
                        .table-cow__color
                            p Color: 
                                span #{cow.color}


    include templates/_page-script.pug
